a {
    text-decoration: none;
    color: $stack-light-color;
}

.linkList a {
    text-decoration: none;
    color: #696969; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btnExplore{
    background: $gradient-btn;
}

button {
    background-color: $secondary-color;
    padding: 15px;
    border-radius: 25px;
    border: transparent;
    margin: 30px 0 !important;
}