*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #ffffff;
}

section {
  margin: 15px;
}

i {
  padding: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.2;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-weight: 500;
    font-size: 3rem !important;
    justify-content: center;
    align-items: center;
  }
}

h2 {
  margin: 30px 15px;
}

h2.titleMenu {
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  font-size: 5rem;
}

.cardText h4 {
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
}

.linkList h3 {
  border-radius: 100%;
  background: #9356DC;
  padding: 7px 15px;
  height: 45px;
  width: 45px;
  color: #ffffff;
}

p {
  color: #696969;
}

p.searchPlaceholder, p.functionsList {
  color: #000000;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.75rem;
  color: #ffffff;
  background-color: #FF79DA;
  padding: 15px;
  border-radius: 25px;
  border: transparent;
  margin: 30px 0 !important;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.linkList a {
  text-decoration: none;
  color: #696969;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnExplore {
  background: linear-gradient(360deg, rgba(147, 86, 220, 0.8) 0%, rgb(255, 121, 218) 100%);
}

.infoSite {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
  -moz-box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
  box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
}
@media screen and (max-width: 768px) {
  .infoSite {
    flex-direction: column;
    padding: 15px;
  }
}

.infoSite img {
  width: 100%;
  height: 35px;
}

.searchField {
  background: #f5f5f5;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.caption {
  background: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.caption h1, .caption p {
  text-align: center;
  padding: 10px;
  margin: 0 15px;
}

.filterList ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li.linkList {
  list-style-type: none;
  background: #fafafa;
  margin: 15px;
  -webkit-box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
  -moz-box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
  box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
  border-radius: 15px;
  padding: 10px;
}
li.linkList:hover {
  background: #bc95e9;
}

.linkList a h3 i {
  display: flex;
  flex-direction: row;
}

.linkList a i {
  color: #696969;
}
.linkList a i:hover .fullMobile + .fullList + .fullStore {
  color: #696969 #9356DC;
}

.restaurants {
  max-width: 100%;
  background: #fafafa;
}

.restaurants .sectionArticle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.restaurantsParis article {
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
  -moz-box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
  box-shadow: 0px 6px 8px 2px rgba(189, 189, 189, 0.8);
}
@media screen and (max-width: 768px) {
  .restaurantsParis article {
    max-width: 100%;
    margin: 15px;
  }
}

.restaurantsParis article img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .restaurantsParis article img {
    width: 455px;
    height: 303px;
  }
}

span {
  background: #99E2D0;
  padding: 12px;
  color: #38c4a1;
  font-weight: 900;
  border-radius: 5px;
}

.newRestaurant {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.newRestaurant span {
  position: relative;
  top: -275px;
  right: 15px;
}
.cardText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.icone .fa-duotone.fa-heart {
  color: #696969;
}

.icone .fa-duotone.fullHeart {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
