h2 {
    margin: 30px 15px;
}

ul.filtersList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    @include mobile-only {
        flex-direction: column;
        }
}

.linkList h3 {
    border-radius: 100%;
    background: $primary-color;
    padding: 4px 10px;
    height: 35px;
    width: 35px;
     position: relative;
    right: 30px;
}

li.linkList {
    list-style-type: none;
    background: #fafafa;
    margin: 15px;
    @include box-shadow($shadows);
    border-radius: 15px;
    padding: 10px;
    &:hover {
        background: lighten($primary-color, 35%);
    }
    &:hover i {
        color: $primary-color;
    }
    h3 p i {
        @include flex-row;
        position: relative;
        right: 30px;
    }
}

.restaurants {
    max-width: 100%;
    background: #fafafa;
}

.restaurants .sectionArticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;   
    @include mobile-only{
        flex-direction: column;
    }
}

.restaurantsParis article {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    @include box-shadow($shadows);
    @include tablet-only{
        max-width: 100%;
    }
    @include mobile-only{
        margin: 15px;
    }
}

.restaurantsParis article img {
    border-radius: 20px 20px 0 0;
    width: 350px;
    height: 200px;
    object-fit: cover;
    @include tablet-only{
        display: flex;
    }
}

span {
    background: $third-color;
    padding: 12px;
    color: darken($third-color, 25%);
    font-weight: 400;
    border-radius: 5px;
}

.newRestaurant {
    position: relative;
}

.newRestaurant span {
    position: absolute;
    top: 15px;
    right: 15px;
}

.cardText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    .icone i.fa-heart {
        color: $stack-lighten-dark-color;
        font-size: 3rem;
    }
    
    .icone i.fullHeart {
        color: $primary-color;
        font-size: 3rem;
    }
}
