/* FOOTER BACKGROUND */

footer {
    background: $stack-lighten-dark-color;
    padding: 25px;
}

/* FOOTER LIST */
ul.aboutList {
    display: flex; 
    flex-direction: column;
    & > li {
        list-style-type: none;
    }
    & > a {
        padding-left: 25px;
    }
}
