h1 {
    @include mobile-only{
        justify-content: center;
        align-items: center;
    }
}

.idLogo {
    display: flex;
    background: $stack-light-color;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    @include box-shadow($shadows);
}

.idLogo img {
    width: 100%;
    height: 35px;
}