/* HEADER TITLE LOGO AND ARROW TO HOME */
h1 {
    @include mobile-only{
        justify-content: center;
        align-items: center;
    }
}

header {
    display: flex;
    background: $stack-light-color;
    justify-content: space-between;
    padding: 15px;
    @include box-shadow($shadows);
    .idLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        & img {
            width: 100%;
            height: 35px;
        }
    }
    .returnHome {
        display: flex;
        align-items: center;
        justify-content: flex-start;  
        & i {
            font-size: 3rem;
            color: $stack-lighten-dark-color;
        }
    }
    @include mobile-only {
        justify-content: space-between;   
    }
}