@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
        }
    }

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoints, tablet)){
        @content;
        }
    }

$breakpoints: (
    mobile: 768px,
    tablet: 992px
    );    

@mixin box-shadow($shadows) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    box-shadow: $shadows;
}

$shadows: 0px 6px 8px 2px rgba(189,189,189,0.8);