$font-stack: Roboto, sans-serif;
$second-font-stack: Shrikhand, sans-serif;
$stack-dark-color: #000000;
$stack-light-color: #ffffff;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;

$breakpoints: (
  mobile: 768px
  tablet: 992px
);

