/* HOME STYLES */

/* RESTAURANTS CARDS */
.restaurants {
    max-width: 100%;
    background: #fafafa;
}

.restaurants .sectionArticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;   
    @include mobile-only{
        flex-direction: column;
    }
}

.restaurantsParis article {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    @include box-shadow($shadows);
    @include tablet-only{
        max-width: 100%;
    }
    @include mobile-only{
        margin: 15px;
    }
}

.restaurantsParis article img {
    border-radius: 20px 20px 0 0;
    width: 300px;
    height: 150px;
    object-fit: cover;
    @include tablet-only{
        display: flex;
    }
}

/* NEW TAG */
.newRestaurant {
    position: relative;
}

.newRestaurant span {
    position: absolute;
    top: 15px;
    right: 15px;
}

article .cardTextRestaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* LIKE ICONE STYLE */
span.icone i.fa-regular.fa-heart {
    color: $stack-lighten-dark-color;
    font-size: 3rem;
    opacity: 1;
    position: relative;
        &:hover {
            transition: 0.3s;
            opacity: 0;
        }
}

span.icone i.fa-solid.fa-heart {
    font-size: 3rem;
    opacity: 0;
    background: linear-gradient(to bottom right, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    line-height: initial;
    &:hover {
        transition: 0.3s;
        opacity: 1;
    }
}