.platImage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    & img {
        width: 100%;
        @include tablet-only {
            height: 600px;
            }
            @include mobile-only {
                height: 250px;
                }
    }
}

.menu {
    background: $stack-light-color;
    position: relative;
    border-radius: 40px 40px 0 0;
    margin: 0;
    top: -300px;
    padding: 15px;
    & .sectionTitle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    @include tablet-only {
        top: -180px;
    }
    @include mobile-only {
        top: -80px;
    }
}

.sectionSubTitle {
    padding: 10px 15px;
    hr {
        max-width: 50px;
        color: $third-color;
    }
}

.animOne {
    animation: slidein 1s;  
}

.animTwo {
    animation: slidein 2s;  
}

.animThree {
    animation: slidein 3s;  
}

@keyframes slidein {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
}

.cardTextMenu {
    overflow: hidden; 
    position: relative;
    width: 350px;
    &:hover .check {
        transition: right 1s;
        right: 0;
    }
    &:hover .price {
        transition: right 1s;
        right: 90px; 
    }
    @include mobile-only {
        &:active .check {
            transition: right 1s;
            right: 0;
        }
        &:active .price {
            transition: right 1s;
            right: 90px; 
        }
    }
}

article .cardTextMenu {
    background: #fafafa;
    margin: 15px;
    @include box-shadow($shadows);
    border-radius: 15px;
    padding: 0;
    flex-wrap: nowrap;
    width: auto;
    height: 85px;
        .cardDescription {
            padding:0 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            position: absolute;
                &:hover {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 185px;
            }
            @include mobile-only {
                &:active {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 185px;
                }
            }
        h4 {
            font-size: 20px;
            padding: 5px 0;
        }
        p {
            padding: 0 0 10px 0;
        }
    }
}

.checkValid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    padding:0 20px;
    .price {
        position: absolute;
        font-size: 16px;
        padding: 10px;
        right: 0;
        font-weight: 500;
    }
}

span.check {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 15px 15px 0;
    background: $third-color;
    padding: 12px;
    color: darken($third-color, 25%);
    position: absolute;
    right: -105px;
    width: 85px;
    height: 85px;
    & i {
        border-radius: 100%;
        height: 35px;
        width: 35px;
        background: $stack-light-color;
        padding: 6px 8px;
    }
}