*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: $stack-light-color;
    height: 100%;
}

section {
    margin: 0 15px 30px 15px;
}

i {
    padding: 0 15px 0 0;
}

.container {
    justify-content: center;
    align-items: center;
    background: rgba(153,226,208,0.48);
    display: flex;
    left:0;
    right:0;
    bottom:0;
    top:0;
    position: fixed;
    z-index: 0;
    animation: hide 3s normal forwards;
    .progress {
        background: $stack-lighten-dark-color;
        justify-content: flex-start;
        border-radius: 100px;
        align-items: center;
        position: relative;
        padding: 0 5px;
        display: flex;
        height: 40px;
        width: 500px;
      }
    .progress-value {
        animation: load 3s normal forwards;
        border-radius: 100px;
        background: $secondary-color;
        height: 30px;
        width: 0;
      }
    }

    @keyframes hide {
        0% {
            opacity: 1;
            display: flex;
        }
        100% {
            opacity: 0;
            display: none;
            visibility: hidden;
        }
    }

  @keyframes load {
    0% { 
        width: 0; 
    }
    100% { 
        width: 100%;
    } 
 }