
body {
    font-family: 'Roboto', sans-serif;
    color: $stack-dark-color;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
}

.idLogo i {
    color: $stack-lighten-dark-color;
    font-size: 3rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    @include mobile-only{
        font-weight: 500;
        font-size: 3rem !important;
    }
}

h2.titleMenu {
    font-family: 'Shrikhand', sans-serif;
    font-size: 3rem;
}

h3 {
    color: $stack-lighten-dark-color;
}

h4 {
    color: $stack-dark-color;
}

.cardTextMenu h4 {
    font-size: 18px;
    color: $stack-dark-color;
    font-weight: 500;
    padding-bottom: 15px;
}

.linkList h3 {
    color: $stack-light-color;
    font-weight: 400 !important;
}

p {
    color: $stack-lighten-dark-color;
    font-size: 16px;
}

p.searchPlaceholder, p.functionsList {
    color: $stack-dark-color;
    @include tablet-only {
        padding: 0;        
    }
}

.sectionTitle i .fa-regular .fa-heart {
    font-size: 3rem;
    color: $stack-lighten-dark-color;;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.75rem;
    color: $stack-light-color;
}

p.lightLogo {
    font-family: 'Shrikhand', sans-serif;
    color: $stack-light-color;
    font-size: 2.5rem; 
}

.aboutList ul li i {
    color: $stack-light-color;
}