
body {
    font-family: 'Roboto', sans-serif;
    color: $stack-dark-color;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    @include mobile-only{
        font-weight: 500;
        font-size: 3rem !important;
        justify-content: center;
        align-items: center;
    }
}

h2 {
    margin: 30px 15px;
}

h2.titleMenu {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 900;
    font-size: 5rem;
}

.linkList h3 {
    border-radius: 100%;
    background: $primary-color;
    padding: 7px 15px;
    height: 45px;
    width: 45px;
    color: $stack-light-color;
}

p {
    color: #696969;
}

p.searchPlaceholder, p.functionsList {
    color: $stack-dark-color;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.75rem;
    color: $stack-light-color;
    background-color: $secondary-color;
    padding: 15px;
    border-radius: 25px;
    border: transparent;
    margin: 30px 0 !important;
}